bin/
composer.lock
composer.phar
phpunit.xml
vendor/
node_modules/
Gemfile.lock

### PhpStorm ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio
.idea/
